<!-- Page Content-->
<div class="container">
    <!-- Heading Row-->
    <div class="row align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://image.shutterstock.com/image-photo/book-260nw-769887250.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">The power to be found between the pages of a book is formidable, indeed. ...</h1>
            <a class="btn btn-primary" href="https://openlibrary.org/">Find A Book You Want</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>